body {
	background: #e0f7fa;
	font-family: Arial;
	text-align: center;
}

main {
	width: 95%;
	margin: 0 auto;
}

div {
	display: flex;
}

nav {
	background: #006064;
	padding: 15px;
}

header {
	background: #00838F;
	height: 200px;
}

#pleft, #pctr, #pright {
	height: 350px;
	width: 33%;
}

ul {
	text-align: left;
}

footer {
	text-align: right;
	background: #006064;
	color: white;
	padding: 10px;
}

input[type="reset"], input[type="submit"] {
	background: #00838F;
	color: white;
}

a {
	color: white;
	font-size: 150%;
	text-decoration: none;
}

a:hover {
	color: #80DEEA;
}