body {
	margin: 0;
}

* {
	font-family: Georgia;
	text-align: center;
}

main {
	display: flex;
}

header, footer {
	color: #fff;
	padding: 7px;
	background: #BA6B6C;
}

#data {
	background: MistyRose;
	margin: 0px;
}

#pleft, #pright {
	height: 500px;
	width: 20%;
	background: #EF9A9A;
}

#pctr {
	height: 500px;
	width: 60%;
	background: MistyRose;
}

table {
	border: 1px solid Maroon;
	margin: auto;
	width: 80%;
}

h2::first-letter {
	font-size: 170%;
	color: Maroon;
}

h3 {
	margin: 0px;
}

img {
	height: 120px;
	margin: 7px;
	box-shadow: 7px 7px 7px DimGray;
}

ol {
	list-style-type: upper-roman;
}

li {
	text-align: left;
}
